.inputs{
    margin-left: 500px;
    
}
label{
    margin-bottom: 30px !important;
}
.col{
    margin-left: 50px;
}
h4{
    margin-top: 30px !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}