.messenger{
    height: calc(100vh-70px);
    display:flex;
}
.chatMenu{
    flex: 3.5;
}
.chatMenuInput{
    padding: 10px 0;
    width: 90%;
    border:none;
    border-bottom: 1px solid gray;
}
.chatMenuInput:focus{
    outline: none;
}
.chatBox{
    flex: 5.5;
}
.chatBoxWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.chatBoxTop{
    height: 400px;
    overflow-y: scroll;
    padding-right: 10px;
}
.chatBoxBottom{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chatMessageInput{
    width: 80%;
    height: 90px;
    padding: 10px;
}
.chatSubmitButton{
    width: 70px;
    height: 40px;
    border: none;
    border-radius:5px;
    cursor: pointer;
    color: white;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
.chatOnline{
    flex: 3;
}
.chatMenuWrapper,.chatBoxWrapper,.chatOnlineWrapper{
        padding: 10px;
        height: 100%;
}
.noConversationText{
    position: absolute;
    top: 200px;
    font-size: 35px;
    color:rgb(224,220,220);
    cursor: default;
}